@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
  margin: 0px;
  padding: 0px;
  font-family: "Courier Prime", monospace;
  background-color: #f7f7f7;
}


h1 {
  font-size: 30px;
  font-weight: 500;
  color:green;
  border-right: 3px solid #000;
  animation: cursor 1s infinite step-end, typing 15s infinite steps(17);
  white-space: nowrap;
  overflow: hidden;
  position:relative;
  left: 35%;
 
}
h2 {
font-size: 15px;
text-align: center;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  color:green;
  border-right: 3px solid #000;
  animation: cursor1 1s infinite step-end, typing1 15s infinite steps(17);
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  left: 40%;
}
div {
  background-color: lightgrey;
  width: 280px;
  height: 25px;
  border: 15px solid green;
  padding: 50px;
  margin: auto;
  text-align: left;
}
div.a {
  background-color: lightgrey;
  width: 280px;
  height: 25px;
  border: 15px solid lightgreen;
  padding: 50px;
  margin: auto;
  text-align: left;
}
h4 {
  font-size: 25px;
  font-weight: 500;
  color:green;
  border-right: 3px solid #000;
  animation: cursor2 1s infinite step-end, typing2 15s infinite steps(17);
  white-space: nowrap;
  overflow: hidden;
  position:relative;
  left: 40%;
}
@keyframes cursor2{
  0%, 100%{border-color: transparent;}
  50%{border-color: #000;}
}

@keyframes typing2{
  0%{ width: 0ch} /*Text is hidden*/
  9%{ width: 12ch;} /*The enitre header will be typed out*/
  17%{ width: 21ch;} /*Text stays visible*/
  100%{ width: 21ch;} /*Text stays hidden*/
}
@keyframes cursor1{
  0%, 100%{border-color: transparent;}
  50%{border-color: #000;}
}

@keyframes typing1{
  0%{ width: 0ch} /*Text is hidden*/
  9%{ width: 10ch;} /*The enitre header will be typed out*/
  17%{ width: 19ch;} /*Text stays visible*/
  100%{ width: 19ch;} /*Text stays hidden*/
}

@keyframes cursor{
  0%, 100%{border-color: transparent;}
  50%{border-color: #000;}
}

@keyframes typing{
  0%{ width: 0ch} /*Text is hidden*/
  10%{ width: 17ch;} /*The enitre header will be typed out*/
  20%{ width: 32ch;} /*Text stays visible*/
  100%{ width: 32ch;} /*Text stays hidden*/
}
.w3-sidebar {
  position: fixed;
  width: 200px;
  height: 150px;
  background: rgb(79, 180, 79);
  margin: 10px;
}
.w3-button{
  position: fixed;
  margin: 10px;
}
content {
  background: #ddd;
  margin-left: 50px;
}

.caution {
  
	display: block;
  position: relative;
  width: 0; 
	height: 0; 
  border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 22px solid black;
}
.caution:before {
	position: absolute;
  content: "!";
  z-index: 2;
  top: 9px;
  left: -2px;
  margin-top: -5px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  
}
.caution:after {
  position: absolute;
  z-index: 1;
  content: "";
  width: 0; 
	height: 0; 
  left: -11px;
  top: 3px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 18px solid yellow;
}
